/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==================== END OF CSS RESET ============================= */













/* ==================== CUSTOM CSS START ============================= */
/* Main Adjustments for bg color and Universal font application */
body{
  background-color: #f7f7ff;
  font-family: 'Montserrat', sans-serif;
  color: #333131;
}

/* Main Content Adjustments Excluding Footer */
.content{
  margin-top: 0.25em;
  margin-left: 2em;
  margin-right: 2em; 
}

/* == Text Adjustments == */
p{
  padding-top: 0.25em;
  padding-bottom: 0.5em;
  line-height: 1.2em;
  font-size: 1.8em;
}

/* Main Heading Size and Spacing */
h1{
  padding-right: 1em;
  line-height: 1.2em;
  font-size: 4.5em;
  font-weight: 700;
}

/* Main Subtext Size and Spacing */
h2{
  padding-top: 0.25em;
  padding-bottom: 0.5em;
  line-height: 1.2em;
  font-size: 1.8em;
}

/* == Image Adjustments == */

/* Logo Size and Spacing */
.logo{
  height: 8.5em;
  width: auto;
  padding-bottom: 1.25em;
}

/* Scooter Banner Image Sizing and Center */
.scooter-banner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 16em;
  width: auto;
}




/* ============== Application Form Adjustments ================= */


/* Form Container Size, Drop Shadow, and Color */
.form-container{
  border-radius: 2em;
  background-color: white;
  box-shadow: 5px 5px 15px 5px #b9b9c4;
  margin-bottom: 3.8em;
}

/* Form Container Content Spacing */
.form-container form{
  margin: 2em;
  padding-bottom: 1.5em;
}

/* == Form Container Text Adjustments == */

/* Main Form Heading */
.form-container h2{
  padding-top: 0.4em;
  padding-bottom: 0em;
  font-size: 3.2em;
  font-weight: 700;
}

/* Secondary Heading */
.form-container h3{
  padding-top: 0.8em;
  font-size: 1.3em;
}

/* Hide Desktop Heading Div */
.form-container .desktop-h3{
  display: none;
}

/* Checkbox Text Prompt */
.form-container label{
  font-size: 1.2em;
}

/* == Check Application Link == */
.form-container form p{
  padding-top: 1em;
  font-size: 1.2em;
}

/* Link Color */
.form-container form a{
  text-decoration: none;
  color: #ff8480;
}


/* ============== Form Input Adjustments ================= */

/* Use all of container width for input fields excluding margin */
.form-container input{
  box-sizing: border-box;
  width: 100%;
}

/* Input field general adjustments */
.form-container input[type=text]{
  margin-top: 1em;
  padding: 0.8em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.15em;
  border-radius: 0.75em;
  border: 1px solid #f7f7ff;
  background-color: #f7f7ff;
  color: #a5a5ac;
}

/* Checkbox Spacing Adjustment */
.form-container input[type=text]:nth-child(7){
  margin-bottom: 1em;
}

/* Checkbox Position and Size */
.form-container input[type=checkbox]{
  vertical-align: middle;
  width: 2em;
  height: 2em;
}


/* =========== Form Submit Button Adjustments =========== */
.form-container input[type=submit]{
margin-top: 0.5em;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
font-size: 1.8em;
background-color: #57eeab;
border: none;
border-radius: 0.5em;
padding: 0.6em;
color: #333131;
}

/* Button Hover Effect */
.form-container input[type=submit]:hover{
background-color: #47c98e;
}





/* ========================= Footer Adjustments ====================== */

/* General Color and Padding Adjustments */
footer{
  background-color: #fffd8c;
  padding: 2em;
}

/* Text Adjustments */
footer h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  padding-right: 5em;
}

footer p{
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  font-size: 1.3em;
  font-weight: 500;
}




/* ========================= Footer Form Adjustments ====================== */

/* Form Input Grid */
.input-grid{
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 0.3fr 1fr;
  grid-template-areas: 
  "hours city"
  "submit submit";
}

/* Hours field and text overflow control */
.input-grid #dhours{
grid-area: hours;
text-overflow: ellipsis;
}

/* City field and text overflow control */
.input-grid #dcity{
  text-overflow: ellipsis;
  grid-area: city;
}

/* == Input Field Adjustments == */

/* Use all of container width for input excluding margin */
footer input{
  box-sizing: border-box;
  width: 100%;
}

/* Input Text Box Adjustments */
footer input[type=text]{
  padding: 0.8em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  border-radius: 0.75em;
  border: 1px solid #f7f7ff;
  background-color: #f7f7ff;
  color: #7f7f85;
}

/* Submit Button Formatting */
footer input[type=submit]{
  grid-area: submit;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.8em;
  background-color: #ff8480;
  border: none;
  border-radius: 0.5em;
  padding: 0.25em;
  color: #f7f7ff;
}
  
/* Submit Button Hover Effect */
footer input[type=submit]:hover{
  background-color: #db706d;
}



/* ========================= Social Media Links ====================== */


/* Social Media Icon Spacing */
.social-icons{
  display: flex;
  justify-content: center;
}


/* Social Media Icon Sizing */
.social-icons img{
padding-top: 2.3em;
padding-left: 2em;
padding-right: 2em;
height: 2.5em;
width: auto;
}



/* ================================ END OF MOBILE STYLES ========================= */









/* ================================ START OF TABLET STYLES ========================= */

@media only screen and (min-width: 768px) and (max-width: 1280px) {

  /* == Main Content Adjust == */
  /* Margin Adjustments Above Footer */
  .content{
    margin-top: 0.25em;
    margin-left: 4em;
    margin-right: 4em; 
  }


  /* == Image Adjustments == */
  /* Scooter Banner Image Sizing and Center */
  .scooter-banner{
    padding-top: 3.5em;
    height: 23em;
  }


  /* == Text Adjustments == */
  /* Main Heading Padding */
  h1{
  padding-right: 2em;
  }
  
  /* Image Below Text Adjustment */
  h2{
    position: absolute;
  }


  /* == Form Text Adjustments == */
  /* Form Heading Fix */
  form h2{
    position: relative;
  }
  
  /* Size Adjustment for second prompt */
  .form-container h3{
    font-size: 2em;
    padding-top: 0.5em;
  }

  /* Center Text After Button */
  .form-container form p {
    text-align: center;
    }

    /* Form Grid Adjustments */
  .input-grid{
    grid-gap: 1em;
    grid-template-areas: 
    "hours hours city city submit submit";
  }

  /* == Footer Spacing Adjustments == */
  footer{
    padding-left: 4em;
    padding-right: 4em; 
    margin-top: 7.5em;
  }
}

/* ================================ END OF TABLET STYLES ========================= */











/* ================================ START OF DESKTOP STYLES ========================= */


@media only screen and (min-width: 1280px) {

  /* Excluding Footer | Margin Adjust, Background Image Replace, Content Grid */
  .content{
    margin-left: 8em;
    margin-right: 8em;
    background-image: url(../images/bg-image/scooter.svg);
    background-repeat: no-repeat;
    background-size: 55em;
    background-position: bottom;
    display: grid;
    grid-template-columns: 1fr 1fr 1.1fr;
    grid-template-rows: 0.6fr 2fr;
    grid-template-areas: 
    'logo logo logo'
    'heading empty form';
  }

  /* == Text Adjustments == */
  .heading{
    grid-area: heading;
  }

  .heading h1{
    font-size: 4.75em;
    padding-right: 0em;
  }

  h2{
    padding-top: 1.5em;
    padding-bottom: 1em;
    font-size: 1.55em;
  }

  /* == Image Adjustments == */
  /* Image Removal For Replacement Above */
  .scooter-banner{
    display: none;
  }

  .logo{
    grid-area: logo;
    height: 7.5em;
    padding-top: 0.5em;
  }


  /* == Application Form Adjustments */
  .form-container{
    grid-area: form;
    margin-bottom: 0;
  }

  .form-container h2{
    padding-top: 0;
    padding-bottom: 0.3em;
    font-size: 2.75em;
  }

  /* Hides original subheading */
  .form-container h3{
   display: none;
  }

  /* Displays new subheading */
  .form-container .desktop-h3{
    display: unset;
    font-size: 1.5em;
  }

  .form-container form p {
    font-size: 1em;
    text-align: center;
  }

  .form-container form{
    padding-bottom: 0;
  }

  .form-container input[type=submit] {
    padding: 0.3em;
    font-size: 2em;
  }

  /* ======= Footer Adjustments ========== */

  /* Footer Grid */
  footer{
    padding-bottom: 3em;
    margin-top: 6em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr;
    grid-template-areas: 
    'h3   empty   media'
    'p    empty   media'
    'form empty   media';
  }

  /* Media Icon Grid Area */
  .social-icons{
    grid-area: media;
  }

  /* Media Icon Size Adjustment */
  .social-icons img {
    height: 2em;
  }

  /* Form Grid Area */
  footer form{
    grid-area: form;
  }

  /* Form Text Area and Sizing */
  footer h3{
    grid-area: h3;
    padding: 0;
  }

  /* Form Second Text Area and Sizing */
  footer p{
    grid-area: p;
    font-size: 1.2em;
  }

  /* Secondary Input Grid */
  .input-grid{
    grid-template-columns: 0.3fr 1fr;
    grid-gap: 1em;
    grid-template-areas: 
   "hours city city submit submit";
  }

  /* Submit Button Sizing and Spacing */
  footer input[type=submit] {
    font-size: 1.5em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    border-radius: 0.7em;
  }

  /* Footer Input Padding */
  footer input[type=text] {
  padding: 0.6em;
  }

}