/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==================== END OF CSS RESET ============================= */













/* ==================== CUSTOM CSS START ============================= */
/* Main Adjustments */
body{
  background-color: #f7f7ff;
  font-family: 'Montserrat', sans-serif;
  color: #333131;
}

p{
  padding-top: 0.25em;
  padding-bottom: 0.5em;
  line-height: 1.2em;
  font-size: 1.8em;
}


/* Adjustments Excluding Footer */
.content{
  margin-top: 0.25em;
  margin-left: 2em;
  margin-right: 2em; 
}


/* Logo Size and Spacing */
.logo{
  height: 8.5em;
  width: auto;
  padding-bottom: 1.25em;
}

/* Main Heading */
h1{
  padding-right: 1em;
  line-height: 1.2em;
  font-size: 4.5em;
  font-weight: 700;
}

/* Main subtext */
h2{
  padding-top: 0.25em;
  padding-bottom: 0.5em;
  line-height: 1.2em;
  font-size: 1.8em;
}

/* Scooter Banner Image Sizing and Center */
.scooter-banner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 16em;
  width: auto;
}







/* ============== Apply Form Adjustments ================= */

/* Form Container and Drop Shadow */
.form-container{
  border-radius: 2em;
  background-color: white;
  box-shadow: 5px 5px 15px 5px #b9b9c4;
}

/* Form Text Adjustments */
.form-container h2{
  padding-top: 0.5em;
  font-size: 3em;
  font-weight: 700;
}

.form-container h3{
  padding-top: 1em;
  font-size: 1.2em;
}

.form-container form p{
  padding-top: 1em;
  font-size: 1em;
}

.form-container form a{
  text-decoration: none;
  color: #ff8480;
}

.form-container label{
  font-size: 1.2em;
}


/* Form Container Content Spacing */
.form-container form{
  margin: 2em;
  padding-bottom: 1.5em;
}


/* ============== Form Input Adjustments ================= */

/* Use all of container width for input excluding margin */
.form-container input{
  box-sizing: border-box;
  width: 100%;
}

/* Input field adjustments */
.form-container input[type=text]{
  margin-top: 1em;
  padding: 0.6em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.15em;
  border-radius: 0.75em;
  border: 1px solid #f7f7ff;
  background-color: #f7f7ff;
  color: #a5a5ac;
}

/* Checkbox Above Spacing Adjustment */
.form-container input[type=text]:nth-child(6){
  margin-bottom: 1em;
}

/* Checkbox Position and Size */
.form-container input[type=checkbox]{
  vertical-align: middle;
  width: 2em;
  height: 2em;
}


/* ============== Submit Button Adjustments ================= */
.form-container input[type=submit]{
margin-top: 0.5em;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
font-size: 1.8em;
background-color: #57eeab;
border: none;
border-radius: 0.5em;
padding: 0.6em;
color: #333131;
}

/* Button Hover Effect */
.form-container input[type=submit]:hover{
background-color: #47c98e;
}




/* ========================= Footer Adjustments ====================== */

/* General Adjustments */
footer{
  background-color: #fffd8c;
  padding: 2em;
}

/* Text Adjustments */
footer h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  padding-right: 5em;
}

footer p{
  padding-top: 0.5em;
  font-size: 1.2em;
}




/* ========================= Footer Form Adjustments ====================== */


/* Use all of container width for input excluding margin */
footer input{
  box-sizing: border-box;
  width: 100%;
}

/* Input and Submit Grid */
.input-grid{
  display: grid;
  grid-gap: 0.5em;
  grid-template-areas: 
  "hours city city city city"
  "submit submit submit submit submit";
}

.input-grid #dhours{
grid-area: hours;
}

.input-grid #dcity{
  grid-area: city;
}

/* Input Text Box Adjustments */
footer input[type=text]{
  padding: 0.6em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1em;
  border-radius: 0.75em;
  border: 1px solid #f7f7ff;
  background-color: #f7f7ff;
  color: #7f7f85;
}

/* Submit Button Formatting */
footer input[type=submit]{
  grid-area: submit;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.8em;
  background-color: #ff8480;
  border: none;
  border-radius: 0.5em;
  padding: 0.25em;
  color: #f7f7ff;
}
  
  /* Submit Button Hover */
footer input[type=submit]:hover{
  background-color: #db706d;
}



/* ========================= Social Links ====================== */


/* Social Media Icon Spacing */
.social-icons{
  display: flex;
  justify-content: center;
}


/* Social Media Icon Sizing */
.social-icons img{
padding-top: 2em;
padding-left: 2em;
padding-right: 2em;
height: 2.5em;
width: auto;
}



/* ================================ END OF MOBILE STYLES ========================= */






/* ================================ START OF TABLET STYLES ========================= */

@media only screen and (min-width: 768px) and (max-width: 1280px) {

  .content{
    margin-top: 0.25em;
    margin-left: 4em;
    margin-right: 4em; 
  }

  /* Main Heading */
  h1{
  padding-right: 2em;
  }

  form h2{
    position: relative;
  }
  
 h2{
    position: absolute;
  }

  /* Scooter Banner Image Sizing and Center */
  .scooter-banner{
  padding-top: 3.5em;
  height: 23em;
  }

  .form-container h3{
    padding-top: 0em;
  }

  .input-grid{
    grid-gap: 1em;
    grid-template-areas: 
    "hours hours city city submit submit";
  }

  footer{
    margin-top: 7.5em;
  }
}

/* ================================ END OF TABLET STYLES ========================= */

/* ================================ START OF DESKTOP STYLES ========================= */


@media only screen and (min-width: 1280px) {


.heading h1{
  font-size: 6em;
  padding-right: 0em;
}

.content{
  margin-left: 8em;
  margin-right: 8em;
  background-image: url(../images/bg-image/scooter.svg);
  background-repeat: no-repeat;
  background-size: 58em;
  background-position: bottom;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.75fr 2fr;
  grid-template-areas: 
  'logo logo logo'
  'heading empty form';
}

.logo{
  grid-area: logo;
}

.heading{
grid-area: heading;
}

.scooter-banner{
display: none;
}

.form-container{
  grid-area: form;
}

footer{
  margin-top: 8em;
}
}